<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>SAN</string>
		<key>Name</key>
		<string>San Diego</string>
		<key>Latitude</key>
		<real>32.73</real>
		<key>Longitude</key>
		<real>-117.17</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LAX</string>
			<string>TUS</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>LAX</string>
		<key>Name</key>
		<string>Los Angeles</string>
		<key>Latitude</key>
		<real>34.05</real>
		<key>Longitude</key>
		<real>-118.25</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>180</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SAN</string>
			<string>SFO</string>
			<string>LAS</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SFO</string>
		<key>Name</key>
		<string>San Francisco</string>
		<key>Latitude</key>
		<real>37.78</real>
		<key>Longitude</key>
		<real>-122.4167</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>450</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LAX</string>
			<string>PDX</string>
			<string>JHM</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>PDX</string>
		<key>Name</key>
		<string>Portland</string>
		<key>Latitude</key>
		<real>45.52</real>
		<key>Longitude</key>
		<real>-122.67</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SFO</string>
			<string>SEA</string>
			<string>BZN</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SEA</string>
		<key>Name</key>
		<string>Seattle</string>
		<key>Latitude</key>
		<real>47.6</real>
		<key>Longitude</key>
		<real>-122.32</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>PDX</string>
			<string>ANC</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>LAS</string>
		<key>Name</key>
		<string>Las Vegas</string>
		<key>Latitude</key>
		<real>36.1667</real>
		<key>Longitude</key>
		<real>-115.2</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>330</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LAX</string>
			<string>PVU</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>TUS</string>
		<key>Name</key>
		<string>Tucson</string>
		<key>Latitude</key>
		<real>32.12</real>
		<key>Longitude</key>
		<real>-110.93</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SAN</string>
			<string>ABQ</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>ABQ</string>
		<key>Name</key>
		<string>Albuquerque</string>
		<key>Latitude</key>
		<real>35.05</real>
		<key>Longitude</key>
		<real>-106.6</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>TUS</string>
			<string>ASE</string>
			<string>DFW</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>ASE</string>
		<key>Name</key>
		<string>Aspen</string>
		<key>Latitude</key>
		<real>39.22</real>
		<key>Longitude</key>
		<real>-106.87</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>390</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>ABQ</string>
			<string>PVU</string>
			<string>FSD</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>PVU</string>
		<key>Name</key>
		<string>Provo</string>
		<key>Latitude</key>
		<real>40.22</real>
		<key>Longitude</key>
		<real>-111.72</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>ASE</string>
			<string>LAS</string>
			<string>BZN</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>BZN</string>
		<key>Name</key>
		<string>Bozeman</string>
		<key>Latitude</key>
		<real>45.78</real>
		<key>Longitude</key>
		<real>-111.15</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>105</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>150</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>PVU</string>
			<string>PDX</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>DFW</string>
		<key>Name</key>
		<string>Dallas</string>
		<key>Latitude</key>
		<real>32.9</real>
		<key>Longitude</key>
		<real>-97.03</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>ABQ</string>
			<string>TUL</string>
			<string>IAH</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAT</string>
		<key>Name</key>
		<string>San Antonio</string>
		<key>Latitude</key>
		<real>29.53</real>
		<key>Longitude</key>
		<real>-98.47</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>IAH</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>IAH</string>
		<key>Name</key>
		<string>Houston</string>
		<key>Latitude</key>
		<real>29.97</real>
		<key>Longitude</key>
		<real>-95.34999999999999</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>180</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>DFW</string>
			<string>SAT</string>
			<string>NEW</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>TUL</string>
		<key>Name</key>
		<string>Tulsa</string>
		<key>Latitude</key>
		<real>36.2</real>
		<key>Longitude</key>
		<real>-95.90000000000001</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>450</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>DFW</string>
			<string>MKC</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>MKC</string>
		<key>Name</key>
		<string>Kansas City</string>
		<key>Latitude</key>
		<real>39.12</real>
		<key>Longitude</key>
		<real>-94.59999999999999</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>TUL</string>
			<string>OMA</string>
			<string>STL</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>OMA</string>
		<key>Name</key>
		<string>Omaha</string>
		<key>Latitude</key>
		<real>41.3</real>
		<key>Longitude</key>
		<real>-95.90000000000001</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>FSD</string>
			<string>MKC</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>FSD</string>
		<key>Name</key>
		<string>Sioux Falls</string>
		<key>Latitude</key>
		<real>43.58</real>
		<key>Longitude</key>
		<real>-96.73</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>330</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>ASE</string>
			<string>OMA</string>
			<string>MSP</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>MSP</string>
		<key>Name</key>
		<string>Minneapolis</string>
		<key>Latitude</key>
		<real>44.88</real>
		<key>Longitude</key>
		<real>-93.22</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>FSD</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>STL</string>
		<key>Name</key>
		<string>St Louis</string>
		<key>Latitude</key>
		<real>38.75</real>
		<key>Longitude</key>
		<real>-90.37</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>105</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>150</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>MKC</string>
			<string>MEM</string>
			<string>CHI</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>NEW</string>
		<key>Name</key>
		<string>New Orleans</string>
		<key>Latitude</key>
		<real>30.03</real>
		<key>Longitude</key>
		<real>-90.03</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>390</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>IAH</string>
			<string>JAX</string>
			<string>MEM</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>MEM</string>
		<key>Name</key>
		<string>Memphis</string>
		<key>Latitude</key>
		<real>35.05</real>
		<key>Longitude</key>
		<integer>-90</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>NEW</string>
			<string>STL</string>
			<string>LOU</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>LOU</string>
		<key>Name</key>
		<string>Louisville</string>
		<key>Latitude</key>
		<real>38.23</real>
		<key>Longitude</key>
		<real>-85.67</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>CLT</string>
			<string>CVG</string>
			<string>MEM</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>CHI</string>
		<key>Name</key>
		<string>Chicago</string>
		<key>Latitude</key>
		<real>41.9</real>
		<key>Longitude</key>
		<real>-87.65000000000001</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>STL</string>
			<string>MKE</string>
			<string>DET</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>MKE</string>
		<key>Name</key>
		<string>Milwaukee</string>
		<key>Latitude</key>
		<real>42.95</real>
		<key>Longitude</key>
		<real>-87.90000000000001</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>CHI</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>DET</string>
		<key>Name</key>
		<string>Detroit</string>
		<key>Latitude</key>
		<real>42.42</real>
		<key>Longitude</key>
		<real>-83.02</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>180</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>CHI</string>
			<string>CLE</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>CVG</string>
		<key>Name</key>
		<string>Cincinnati</string>
		<key>Latitude</key>
		<real>39.05</real>
		<key>Longitude</key>
		<real>-84.67</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>450</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LOU</string>
			<string>CLE</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>CLE</string>
		<key>Name</key>
		<string>Cleveland</string>
		<key>Latitude</key>
		<real>41.42</real>
		<key>Longitude</key>
		<real>-81.87</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>DET</string>
			<string>CVG</string>
			<string>PHL</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>NYC</string>
		<key>Name</key>
		<string>New York</string>
		<key>Latitude</key>
		<real>40.77</real>
		<key>Longitude</key>
		<real>-73.98</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>PHL</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>PHL</string>
		<key>Name</key>
		<string>Philidelphia</string>
		<key>Latitude</key>
		<real>39.88</real>
		<key>Longitude</key>
		<real>-75.25</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>CLE</string>
			<string>ORF</string>
			<string>NYC</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>ORF</string>
		<key>Name</key>
		<string>Norfolk</string>
		<key>Latitude</key>
		<real>36.9</real>
		<key>Longitude</key>
		<real>-76.2</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>60</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>CLT</string>
			<string>PHL</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>CLT</string>
		<key>Name</key>
		<string>Charlotte</string>
		<key>Latitude</key>
		<real>35.22</real>
		<key>Longitude</key>
		<real>-80.93000000000001</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>105</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>150</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>JAX</string>
			<string>ORF</string>
			<string>LOU</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>JAX</string>
		<key>Name</key>
		<string>Jacksonville</string>
		<key>Latitude</key>
		<real>30.5</real>
		<key>Longitude</key>
		<real>-81.7</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>NEW</string>
			<string>MIA</string>
			<string>CLT</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>MIA</string>
		<key>Name</key>
		<string>Miami</string>
		<key>Latitude</key>
		<real>25.82</real>
		<key>Longitude</key>
		<real>-80.28</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>65</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>390</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>JAX</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>ANC</string>
		<key>Name</key>
		<string>Anchorage</string>
		<key>Latitude</key>
		<real>61.17</real>
		<key>Longitude</key>
		<real>-150.02</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SEA</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>JHM</string>
		<key>Name</key>
		<string>Maui</string>
		<key>Latitude</key>
		<real>20.97</real>
		<key>Longitude</key>
		<real>-156.83</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>330</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SFO</string>
		</array>
	</dict>
</array>
</plist>
