<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>SAN</string>
		<key>Name</key>
		<string>San Diego</string>
		<key>Latitude</key>
		<real>32.7</real>
		<key>Longitude</key>
		<real>-117.15</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LAX</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>LAX</string>
		<key>Name</key>
		<string>Los Angeles</string>
		<key>Latitude</key>
		<real>34.05</real>
		<key>Longitude</key>
		<real>-118.25</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>180</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SAN</string>
			<string>SFO</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SFO</string>
		<key>Name</key>
		<string>San Francisco</string>
		<key>Latitude</key>
		<real>37.78</real>
		<key>Longitude</key>
		<real>-122.4167</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>2</integer>
				<key>Target</key>
				<integer>450</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>LAX</string>
			<string>PDX</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>PDX</string>
		<key>Name</key>
		<string>Portland</string>
		<key>Latitude</key>
		<real>45.52</real>
		<key>Longitude</key>
		<real>-122.67</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>SFO</string>
			<string>SEA</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SEA</string>
		<key>Name</key>
		<string>Seattle</string>
		<key>Latitude</key>
		<real>47.6</real>
		<key>Longitude</key>
		<real>-122.32</real>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Difficulty</key>
				<integer>1</integer>
				<key>Target</key>
				<integer>120</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array>
			<string>PDX</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN5</string>
		<key>Name</key>
		<string>Las Vegas</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN6</string>
		<key>Name</key>
		<string>Tucson</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN7</string>
		<key>Name</key>
		<string>Albuquerque</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN8</string>
		<key>Name</key>
		<string>Boulder</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN9</string>
		<key>Name</key>
		<string>Provo</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN10</string>
		<key>Name</key>
		<string>Bozeman</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN11</string>
		<key>Name</key>
		<string>Dallas</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN12</string>
		<key>Name</key>
		<string>San Antonio</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN13</string>
		<key>Name</key>
		<string>Houston</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN14</string>
		<key>Name</key>
		<string>Tulsa</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN15</string>
		<key>Name</key>
		<string>Kansas City</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN16</string>
		<key>Name</key>
		<string>Omaha</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN17</string>
		<key>Name</key>
		<string>Sioux Falls</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN18</string>
		<key>Name</key>
		<string>Minneapolis</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN19</string>
		<key>Name</key>
		<string>St Louis</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN20</string>
		<key>Name</key>
		<string>New Orleans</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN21</string>
		<key>Name</key>
		<string>Memphis</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN22</string>
		<key>Name</key>
		<string>Louisville</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN23</string>
		<key>Name</key>
		<string>Chicago</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN24</string>
		<key>Name</key>
		<string>Milwaukee</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN25</string>
		<key>Name</key>
		<string>Detroit</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN26</string>
		<key>Name</key>
		<string>Cincinnati</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN27</string>
		<key>Name</key>
		<string>Cleveland</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN28</string>
		<key>Name</key>
		<string>New York</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN29</string>
		<key>Name</key>
		<string>Philidelphia</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN30</string>
		<key>Name</key>
		<string>Virginia Beach</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN31</string>
		<key>Name</key>
		<string>Charlotte</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN32</string>
		<key>Name</key>
		<string>Jacksonville</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN33</string>
		<key>Name</key>
		<string>Miami</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN34</string>
		<key>Name</key>
		<string>Anchorage</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<string>SAN35</string>
		<key>Name</key>
		<string>Kauai</string>
		<key>Latitude</key>
		<integer>0</integer>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>10</integer>
		<key>Puzzles</key>
		<array>
			<dict>
				<key>Difficulty</key>
				<integer>0</integer>
				<key>Target</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Connections</key>
		<array/>
	</dict>
</array>
</plist>
